body{
    background-color: white;
    display: block;
    margin: 0%;
}
div{
    width: 50%;
    height: 100%;
    background-color: black;
    margin: auto;
    border: 100px;
    border-radius: 15%;
    
}
form{
    width: 300px;
    margin: 0 auto;
    size: 300px;
}
label{
    color: white;
}
p{
    color: rgb(216, 154, 154);
}
input{
    /* align-items: center; */
    height: 20px;
    width: 300px;
    padding: 10px;
    /* border-radius: 20%; */
    background-color: rgb(216, 154, 154);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}