body {
      font-family: Arial, sans-serif;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      padding: 20px;
      color: #0a0a0a;
    }

    h1 {
      color: #020000;
    }

    form {
      background: #d65d5d;
      padding: 20px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 300px;
      margin-bottom: 30px;
    } 

    input, select {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    button {
      padding: 12px;
      border: none;
      border-radius: 8px;
      background: (228, 194, 194);
      color: #1b0202;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s ease;
    }

    button:hover {
      background: rgb(228, 194, 194);
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: 100%;
      max-width: 1000px;
    }

    .card {
      background: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 8px 15px rgba(0,0,0,0.2);
      width: 220px;
      text-align: center;
    }